[phases.setup]
nixPkgs = [
  "php82",
  "php82Extensions.gd",
  "php82Extensions.pgsql",
  "nodejs_18"
]

[phases.build]
cmds = [
  "composer install --no-dev --optimize-autoloader",
  "npm ci",
  "npm run build"
]

[start]
cmd = "php artisan migrate --force && php artisan storage:link && php artisan optimize && php -S 0.0.0.0:$PORT -t public"
